body {
  margin: 0px;
  overflow-x: hidden;
}

.youtube__wrap {
  display: flex;
  min-height: 100vh;
  background-color: #181818;
}

/* sidebar is about 15% */

.youtube__sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #202020;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
}

.youtube__logo {
  width: 50%;
  margin: 25px;
}

.sidebar__section {
  width: 100%;
  border-bottom: 0.5px solid rgb(92, 92, 92);
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar__element {
  display: flex;
  flex-direction: row;
  gap: 20px;

  align-items: center;

  padding: 5px;
  padding-left: 20px;

  font-size: 15px;

  width: 100%;

  box-sizing: border-box;
}

.sidebar__element:hover {
  background-color: #4d4d4d;
}

.highlight {
  background-color: #4d4d4d;
  font-weight: bold;
}

.highlight:hover {
  background-color: #949494;
}

.sidebar__icon {
  width: 25px;
  height: 25px;
  color: white;
  fill: white;
}

.sidebar__text {
  color: white;
}

.youtube__main {
  width: 87%;

  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
  align-self: flex-end;

  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;

  box-sizing: border-box;

  position: absolute; /* fixed prevents scrolling */
  top: 100px;
  left: 250px;
  background-color: #181818;
}

.youtube__nav {
  position: fixed;
  left: 250px;

  width: 87%;
  height: 100px;

  background-color: #202020;

  border-bottom: 0.5px solid rgb(92, 92, 92);

  z-index: 2;
}

.youtube__card {
  width: 24%;
  min-width: 350px;
  height: 300px;

  position: relative;
}

.youtube__card--description {
  background-color: transparent;

  display: flex;

  padding-top: 10px;
}

.youtube__card--thumbnail {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.youtube__card--user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.youtube__card--badge {
  position: absolute;
  top: 62%;
  right: 2%;

  background-color: rgba(24, 24, 24, 0.7);
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;

  padding: 3px;
  border-radius: 2px;
}

.youtube__card--info {
  width: calc(100% - 35px - 10px);
  font-family: Arial, Helvetica, sans-serif;

  margin-left: 10px;
}

.youtube__card--video-title {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.youtube__card--meta {
  color: rgb(92, 92, 92);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
